.head-logo {
  width: 10rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  color: rgb(9, 100, 185);
  left: 0;
  font-family: Alan Sans;
  background-color: transparent;
  backdrop-filter: blur(10px);
  padding: 1rem;
}
